<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须要和Mapper接口名字一致 -->
<!-- id必须要和Mapper中的方法名一致 -->
<mapper namespace="com.huchuan.mapper.MovieMapper">
    <!-- 1.添加一部电影 -->
    <insert id="addMovie" parameterType="com.huchuan.model.MovieModel">
        insert into movie_table (title,type,releaseYear,country,language,time,director,actor,score)
        values (#{title},#{type},#{releaseYear} ,#{country} ,#{language} ,#{time},#{director},#{actor},#{score})
    </insert>

    <!-- 2.删除一部电影-->
    <delete id="delMovieById" parameterType="int">
        DELETE FROM movie_table WHERE id=#{id}
    </delete>
    
    <!-- 3.更新一部电影-->
    <update id="updateMovie" parameterType="com.huchuan.model.MovieModel">
        UPDATE movie_table SET title=#{movieModel.title},type=#{movieModel.type},
        releaseYear=#{movieModel.releaseYear},country=#{movieModel.country},language=#{movieModel.language},time=#{movieModel.time},
        director=#{movieModel.director},actor=#{movieModel.actor},score=#{movieModel.score} WHERE id=#{id}
    </update>

    <!-- 4.根据id找电影-->
    <select id="findMovieById" parameterType="int" resultType="com.huchuan.model.MovieModel">
        select * from movie_table where id = #{id}
    </select>

    <!-- 5.根据影名找电影-->
    <select id="findMoviesByTitle" parameterType="String" resultType="com.huchuan.model.MovieModel">
        select * from movie_table where title = #{title}
    </select>

    <!-- 6.根据类型找电影-->
    <select id="findMoviesByType" parameterType="String" resultType="com.huchuan.model.MovieModel">
        select * from movie_table where type = #{type}
    </select>

    <!-- 7.查找所有电影-->
    <select id="findMovies" resultType="com.huchuan.model.MovieModel">
        SELECT * FROM movie_table
    </select>
</mapper>
